/* banner codes strat from here */
.img{
  margin-left: 500px;
}
.second-img{
  margin-right: 500px;
}

.First-Pharagraph{
  text-align: center;
  margin-top: 50px;
  border-style: hidden;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 20px;
  font-family: 'Georama', sans-serif;
}

 .second-Pharagraph{
  margin-right: 200px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Georama', sans-serif;
}

.third-pharagraph{
  margin-left: 200px;
  font-size: 20px;
  font-family: 'Georama', sans-serif;
}

.first-heading{
  color: white;
}

.coverpage-button{
  margin-bottom: 100px;
}

.cover-page-ph{
  margin-bottom: 150px !important;
}

/* banner pager code stop from here */

.card{
  margin-right: 80px;
  margin-top: 20px;
}

p{
  text-align: justify !important;
  font-family: 'Georama', sans-serif;
  font-size: 20px;
}

h6{
  margin-left: 520px !important;
  margin-top: 20px !important;
}

.log{
  margin-left: 600px !important;
  margin-bottom: 100px;
}

/* featured images code start from here */
.featured-img{
  width: 150px;
  height: 150px;
  margin-top: 50px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  margin-right: auto;
  margin-left: auto;
  border : 3px solid #FFF;
}

#picture1{
	background-image: url(../Gallery/img-one.jpg);
}

#picture2{
  background-image: url(../Gallery/img-two.jpg);
}

#picture3{
  background-image: url(../Gallery/img-three.jpg);
}

div.Details p{
  text-align: center;
  font-size: 20px;
  /* background-color: silver; */
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
  font-family: 'Georama', sans-serif;
}
/* featured images code start from here */

/* icon bar code start from here */
body {margin:0;height:500px;}
.icon-bar {
  position: fixed;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebo {
  background: #3B5998;
  color: white;
}

.twit {
  background: #55ACEE;
  color: white;
}

.Instag{
  background: #dd4b39;
  color: white;
}

.linked{
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
/* icon bar code stop from here */

/* card images transaction code */
img.card-img-top:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/* table codes start from here */
table{
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Georama', sans-serif;
}

.background:hover{
  color: red;
}
/* table codes stop from here */

.map{
  margin-left: auto;
  margin-right: auto;
}

h3{
  margin-top: 600px !important;
  margin-right: 100px !important;
}

.form{
  width: 500px !important;
  margin-top: 100px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.bt{
  width: 500px !important;
  margin-left: auto;
  margin-right: auto;
}

.sign-up{
  margin-left: 1200px;
}

.card{
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 50px !important;
}

.col-md-5{
  margin-left: auto;
  margin-right: auto;
}

h1{
  color: red !important;
}

.crown{
  font-size: 20px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.margin-purchase{
  margin-right:100px;
}

/* footer codes start from here */
.modal-footer {
  background-color: #373F3E;
  color: grey;
	font-size: 20px;
}

.modal-footer a {
  text-decoration: none !important;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.modal-footer a:hover {
  color: #AF2822;
}

.sticky-footer{
  position: sticky;
  top: 100%;
}

body{
  min-height: 100vh;
}

footer{
  margin-top: 10px;
}
/* footer codes stop from here */

.nav_name{
  font-size: 50px;
  font-weight: bold;
}

.bicycle{
  color: red;
}

.contact-page{
  margin-bottom: 10px;
}
